<div id="app">
  <h1>Rails - Vuex Practice</h1>
  <p>
    <a href='/'>Go Vue.js</a>
  </p>
  <p>
    <!-- use router-link component for navigation. -->
    <!-- specify the link by passing the `to` prop. -->
    <!-- <router-link> will be rendered as an `<a>` tag by default -->
    <router-link to="/counter">Go to Counter</router-link>
    <router-link to="/todo">Go to Todo</router-link>
  </p>
  <!-- route outlet -->
  <!-- component matched by the route will render here -->
  <router-view></router-view>
</div>

<%= javascript_pack_tag 'rails_vuex' %>
